<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/public/home.css">
 <link rel="icon" type="image/png" href="/image.png" />

</head>
<body>