<nav class="navbar">
  <a href="/" class="brand">
    <img src="https://imgs.search.brave.com/27w2NoWu0C8SVKfO3QMt5kSsk0SNL5brhdkeQRDGvTs/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly9sb2dv/LmNvbS9pbWFnZS1j/ZG4vaW1hZ2VzL2t0/czkyOHBkL3Byb2R1/Y3Rpb24vYjlmZGE3/NDBmZTJjMTZiNTEy/NjRhM2RjZjBiNzc3/MGZlOTBjYWNkOC04/MDB4ODAwLnBuZz93/PTE5MjAmcT03MiZm/bT13ZWJw" alt="Soundflow Logo">
   SoundFlow
  </a>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    
  </ul>
</nav>
